*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#007acc, #6dd5fa, #ffffff);
    gap: 20px;
}

button{
    border: 2px solid #007acc;
    background: none;
    color: #007acc;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 26px;
    margin-top: 30px;
}
button:hover{
    background: white;
}
h1{
    color: rgb(5, 39, 89);
}